body {
    background-color: hsl(218, 28%, 13%);
    color: white;
    padding: 20px;
}

#nav-bar {
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin: 20px;
    padding: 20px;
}

#main-logo {
    margin-right: auto;
}

#intro-image {
    display: block;
    margin: auto;
}

#first-h {
    width: 30vw;
    text-align: center;
    margin: auto;
    padding: 30px;
}

#first-p {
    width: 25vw;
    text-align: center;
    margin: auto;
    padding: 30px;
}

#start {
    display: block;
    color: white;
    border: 0;
    outline: 0;
    width: 10vw;
    height: 5vh;
    margin: auto;
    border-radius: 20px;
    background-color: hsl(198, 60%, 50%);
}

#first-container {
    text-align: center;
    margin: auto;
    width: 800px;
    padding: 100px;
    display: grid;
    grid-template-rows: repeat(2, 300px);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
}

#second {
    display: flex;
    width: 80vw;
    margin: auto;
    padding-bottom: 150px;
}

#second-p {
    width: 30vw;
    margin: auto;
}
#second-h {
    width: 20vw;
}
#third {
    display: flex;
    background: url('./images/bg-quotes.png');
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-bottom: 300px;
}

#satish,#bruce,#iva {
    text-align: left;
    background-color: hsl(219, 30%, 18%);
    width: 20vw;
    height: 15vh;
    margin: auto;
    padding: 50px;
}
.profile {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 20px 20px 0 0;
}
#satish-profile,#bruce-profile,#iva-profile {
    display: flex;
    width: 300px;
}

.profile-bottom {
    margin: 20px 0 0 0;
}

#fourth {
    text-align: center;
    width: 70vw;
    height: 30vh;
    margin: auto;
    padding: 20px;
    background-color: hsl(217, 28%, 15%);
}
#fourth-header {
    font-size: 50px;
}

#fourth-main {
    width: 50vw;
    margin: auto;
}

#fourth-button{
    font-size: 20px;
    color: white;
    background-color: hsl(198, 60%, 50%);
    border: 0;
    outline: 0;
    width: 20vw;
    height: 10vh;
    border-radius: 40px;
    margin: 30px;
}
#email {
    padding-left: 30px;
    border: 0;
    outline: 0;
    width: 30vw;
    height: 10vh;
    border-radius: 40px;
}
#fifth {
    display: flex;
    position: relative;
    top: -150px;
    height: 50vh;
    background: hsl(216, 53%, 9%);
    z-index: -1;
}

#fifth-top {
    position: relative;
    top: 200px;
    left: 100px;
}

#lorem,
#contact,
#about,
#contact-us,
#social {
    flex-direction: column;
    position: relative;
    top: 250px;
    margin: 50px;
    width: 15vw;
}

#lorem {
    width: 30vw;
}

#lorem-image {
    position: relative;
    top: 300px;
    left: 20px;
}

.attribution {
    display: none;
}

#phone-image,
#email-image {
    position: relative;
    right: 10px;
}

#contact {
    line-height: 50px;
}

#about,
#contact-us {
    line-height: 30px;
}

#lorem {
    line-height: 25px;
}

#social-image {
    width: 100px;
}
@media (max-width:1000px) {
    body {
        max-width: 100%;
        overflow-x: hidden;
    }

    #first-container {
        text-align: center;
        margin: auto;
        width: 40vw;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(1, 300px);
        row-gap: 100px;
    }

    #intro-image {
        width: 90vw;
    }

    #first-h {
        width: 90vw;
        text-align: left;
        margin: auto;
        padding: 30px;
    }

    #first-p {
        width: 90vw;
        text-align: left;
        margin: auto;
    }

    #start {
        display: block;
        color: white;
        border: 0;
        outline: 0;
        width: 50vw;
        height: 5vh;
        margin: auto;
        border-radius: 20px;
        background-color: hsl(198, 60%, 50%);
    }

    #second {
        display: block;
    }

    #second>img {
        width: 80vw;
        height: 40vh;
    }

    #second-p,
    #second-h {
        width: 80vw;
    }

    #third {
        display: flex;
        flex-direction: column;
        background: url('./images/bg-quotes.png');
        background-repeat: no-repeat;
        padding-top: 40px;
        padding-bottom: 300px;
    }

    #satish,
    #bruce,
    #iva {
        text-align: left;
        background-color: hsl(219, 30%, 18%);
        width: 70vw;
        height: 15vh;
        margin: 10px;
        padding: 50px;
    }

    #fourth {
        text-align: center;
        width: 70vw;
        height: 50vh;
        margin: auto;
        padding: 20px;
        background-color: hsl(217, 28%, 15%);
    }

    #fourth-header {
        font-size: 50px;
    }

    #fourth-main {
        width: 60vw;
        margin: auto;
    }

    #fourth-button {
        display: block;
        font-size: 20px;
        color: white;
        background-color: hsl(198, 60%, 50%);
        border: 0;
        outline: 0;
        width: 60vw;
        height: 10vh;
        border-radius: 40px;
        margin: 30px;
    }

    #fourth>input {
        margin-top: 10px;
        width: 50vw;
    }

    #fifth {
        display: block;
        position: relative;
        height: 110vh;
        background: hsl(216, 53%, 9%);
        z-index: -1;
    }

    #lorem,
    #contact,
    #about,
    #contact-us,
    #social {
        display: block;
        position: relative;
        top: 250px;
        margin: 50px;
        width: 70vw;
    }

    #social {
        text-align: center;
        margin: auto;
    }
}
